.piece {
    position: absolute;
    width: 80%;
    top: 10%;
    left: 10%;
}

.pieceClicked {
    position: absolute;
    width: 100%;
    top: 0%;
    left: 0%;
}

.slowlyAppear {
    position: absolute;
    width: 80%;
    top: 10%;
    left: 10%;
    -webkit-animation: slowlyAppear 1s linear; /* Chrome, Safari, Opera */
    animation: slowlyAppear 1s linear;
}

.spin {
    position: absolute;
    width: 80%;
    top: 10%;
    left: 10%;
    -webkit-animation: spin 1s; /* Chrome, Safari, Opera */
    animation: spin 1s;
}

.move {
    position: relative;
    width: 80%;
    top: 10%;
    left: 10%;
    /*-webkit-animation: moveAnimation 1s; *//* Chrome, Safari, Opera */
    /*animation: moveAnimation 1s;*/
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-name: moveAnimation;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes slowlyAppear {
    from {
        opacity: 0.1;
    }
    to {
        opacity: 1;
    }
}

/* Standard syntax */
@keyframes slowlyAppear {
    from {
        opacity: 0.1;
    }
    to {
        opacity: 1;
    }
}

/* Chrome, Safari, Opera */
@-webkit-keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}

@-webkit-keyframes moveAnimation {
    0% {top: 0px; left: 0px;}
    50% {transform:scale(2);}
}
@keyframes moveAnimation {
    0% {top: 0px; left: 0px;}
    50% {transform:scale(2);}
}