.piece {
    position: absolute;
    width: 80%;
    top: 10%;
    left: 10%;
}

.slowlyAppear {
    position: absolute;
    width: 80%;
    top: 10%;
    left: 10%;
    -webkit-animation: slowlyAppear 1s linear; /* Chrome, Safari, Opera */
    animation: slowlyAppear 1s linear;
}

.spinLeft {
    position: absolute;
    width: 80%;
    top: 10%;
    left: 10%;
    -webkit-animation: spinLeft 1s; /* Chrome, Safari, Opera */
    animation: spinLeft 1s;
}

.spinRight {
    position: absolute;
    width: 80%;
    top: 10%;
    left: 10%;
    -webkit-animation: spinRight 1s; /* Chrome, Safari, Opera */
    animation: spinRight 1s;
}

.move {
    position: absolute;
    width: 80%;
    top: 10%;
    left: 10%;
    -webkit-animation: moveAnimation 1s;   /* Chrome, Safari, Opera */
    animation: moveAnimation 1s;
}

.scale1 {
    position: absolute;
    width: 80%;
    top: 10%;
    left: 10%;
    -webkit-animation: scale1 1s;   /* Chrome, Safari, Opera */
    animation: scale1 1s;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes slowlyAppear {
    from {
        opacity: 0.1;
    }
    to {
        opacity: 1;
    }
}

/* Standard syntax */
@keyframes slowlyAppear {
    from {
        opacity: 0.1;
    }
    to {
        opacity: 1;
    }
}

/* Chrome, Safari, Opera */
@-webkit-keyframes spinLeft {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}

@keyframes spinLeft {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}

/* Chrome, Safari, Opera */
@-webkit-keyframes spinRight {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes spinRight {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* Chrome, Safari, Opera */
@-webkit-keyframes moveAnimation {
    0% {top: 0px; left: 0px;}
    50% {transform:scale(2);}
}

@keyframes moveAnimation {
    0% {top: 0px; left: 0px;}
    50% {transform:scale(2);}
}

/* Chrome, Safari, Opera */
@-webkit-keyframes scale1 {
    0% {position: absolute;
        width: 60%;
        top: 20%;
        left: 20%;}
    50% {position: absolute;
        width: 100%;
        top: 0%;
        left: 0%;}
}

@keyframes scale1 {
    0% {position: absolute;
        width: 60%;
        top: 20%;
        left: 20%;}
    50% {position: absolute;
        width: 100%;
        top: 0%;
        left: 0%;}
}